aws_region         = "us-east-1"
project_name       = "sus-blockchain"
environment        = "prod"
db_name            = "blockchain_sus"
db_username        = "postgres"
db_password        = "troque-esta-senha"
secret_key         = "troque-esta-chave"
api_image_tag      = "latest"
frontend_image_tag = "latest"
